.toolbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  background-color: rgb(48, 48, 48);
  position: fixed;
  top: 0px;
  gap: 5px;
  width: 120px;
  height: 100%;
  box-shadow: inset 0px -10px 63px 34px rgba(0, 0, 0, 0.4);

  z-index: 9999;
  .tools {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
  }
}
