.tool_button {
  position: relative;
  padding: 6px;
  width: 50px;
  height: 50px;
  transition: 0.2s;
  border-radius: 15px;
  background: #e9e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  .icon {
    transition: 0.5s;
    user-select: none;
  }
  &:hover {
    background-color: rgb(255, 255, 255);
  }
  &:active {
    transform: scale(0.85);
  }
}
.color_picker {
  position: absolute !important;
  top: -2px;
  right: -320px;
  border-radius: 20px;
  overflow: hidden;
  border: 4px solid rgba(182, 182, 182, 0.067);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  width: 300px;
  height: 100px;
  background-color: rgb(49, 49, 49);
}
.active {
  padding: 6px;
  position: relative;
  padding: 6px;
  transition: 0.2s;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  transform: scale(1.2);
  .icon {
    transform: rotate(360deg);
  }
}
