.tool_button {
  position: relative;
  padding: 6px;
  border-radius: 25px;
  border: 2px solid rgb(221, 221, 221);
  transition: 0.2s;
  border-radius: 50px;
  background: #f4f4f4;

  &:hover {
    background-color: rgb(229, 229, 229);
    transform: scale(1.1);
  }
}
.color_picker {
  position: absolute !important;
  top: -2px;
  right: 70px;
  border-radius: 20px;
  overflow: hidden;
  border: 4px solid rgba(128, 128, 128, 0.067);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.active {
  padding: 6px;
  border-radius: 25px;
  border: 2px solid rgb(221, 221, 221);
  transition: 0.2s;
  border-radius: 50px;
  box-shadow: inset 4px 4px 6px #bcbcbc, inset -4px -4px 6px #ffffff;
  background-color: rgb(229, 229, 229);
  transform: scale(1.1);
}
